nav{
    background-color: rgb(5, 5, 85);
    text-align: center;


}
h2{
    font-size: 50px;
    color: gray;


}
td{
    height: 150px;
    width:150px;
    text-align: center;
    border:5px solid black ;
    font-size: 50px;



}
.open{
background-color: rgb(209, 25, 25);
color: white;
}
.close{
    display: none;
}
.oTurn{
    background-color: rgb(22, 16, 16);
    color: white;

}
.container{
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.jumbotron{
    text-align: center;
    height: 120px;
}
.winner{
    color: rgb(34, 209, 34);
}
li{
    list-style: none;
}

@media screen and (max-width:400px){

  .table-box{
    position: relative;
  }

  .jumbotron .btn{
    width: 200px;
    text-align: center;
    margin-left: 280px;
    font-size: 30px;
  }
  table{
    position: absolute;
    left: 25%;
    width: 600px;
    }



}


